<h1> Welcome </h1>
<p>
  Click on "Create Resume" to create your resume!!
  You can create your resume in two diffrent formats
</p>
<%= link_to "Create Resume", createresume_path, :class => "signup_button round" %>
